/****************************
  BODY, NAVIGATION & FOOTER
*****************************/
body {
    background-color: white;
}

header {
    background-color: lightseagreen;
} 

nav ul {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0 5px 0;
    margin: auto;
}

nav ul li {
    padding: 1%;
    margin: 0 20% 1% 20%;
    font-size: 1.22rem;
    color: white; 
    background-color: darkslategrey;
    border-width: unset;  
}

nav ul li a:link, 
nav ul li a:visited {
    color: white;
    text-decoration: none; 
}


nav ul li a:hover, 
nav ul li a:active {
    color: yellow;
    text-decoration: none; 
}

footer {
    background-color: lightseagreen;
    color: yellowgreen;
    font-weight: bold;
    /* height: 10%; */
    text-align: center;
    font-size: 1.2rem;
}


/****************************
  IMAGES
*****************************/
#down-arrow {
    padding-left: 45%;
    /* margin-left: 600px; */
    width: auto;
    height: 40%;
    background-color: yellowgreen;
}

#arrow-img {
    height: 15%;
    width: 15%;
}

main article:nth-of-type(2n) img {
    float: left;
    width: 5%;
    height: 5%;
    padding: 1%;
}

main article:nth-of-type(2n + 1) img {
    float: right;
    width: 5%;
    height: 5%;
    padding: 1%;
}


/************************************
  SEMANTIC ELEMENTS & DOCUMENT LNKS
************************************/
main {
    background-color:snow;
    text-align: center;
    margin-top: -10px;
    padding: 0 1% 0 1%;
    font-size: 1.27rem;
    color: slategrey;
} 

main section ul li{
    list-style-type: none;
    color: darkorange;
    font-weight: bold;
}

p br {
    font-weight: bold;
    padding: 1%;
}

a:link, a:visited {
    color: darkorange;
    text-decoration: none;
}

a:hover, a:active {
    color: darkslategrey;
}

/************************************
    ASIDE
*************************************/
aside {
    clear: both;
    /* padding-top: 30px; */
    text-align: center;
    color: yellowgreen;
    background-color: snow;
    font-size: 1rem;
}

#kids-coding {
    margin-left: 5%;      
    width: 5%;
}

/************************************
  MEDIA QUERIES
************************************/