section {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px; 
    margin-top: -10px;
    font-size: 27px;
    color: yellowgreen;
}

header {
    background-color: lightseagreen;
    height: 590px;
    margin-top: -70px;
    margin-left: -10px;
    margin-right: -10px;  
}

ul {
    margin-top: 60px;
    text-align: center;
    text-decoration: none;
}

ul li {
    display: inline-block;
    padding-top: 35px;
    padding-right: 50px;
    font-size: 25px;
    color: white;   
}

a:link, a:visited {
    color: blue;
    text-decoration: none; 
}

a:hover, a:active {
    color: brown;
    text-decoration: none; 
}

footer {
    background-color: lightseagreen;
    color: yellow;
    font-weight: bold;
    height: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
    clear: both;
}

article {
    padding-right: 600px;
}

aside {
    clear: both;
    padding-top: 30px;
    text-align: center;
    color: yellowgreen;
    background-color: snow;
    font-size: 20px;
}

#aside-div {
    float: right;
    margin-top: -900px;
    width: 300px;
    background-color: lightseagreen;
    color: white;
    font-size: 30px;

}

#kids-coding {
    float: right;
    margin-top: -600px;
    width: 300px;
}
