/****************************
  BODY, NAVIGATION & FOOTER
*****************************/
body {
    background-color: white;
}

header {
    background-color: lightseagreen;
} 

nav ul {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0 5px 0;
    margin: auto;
}

nav ul li {
    padding: 1%;
    margin: 0 20% 1% 20%;
    font-size: 1.22rem;
    color: white; 
    background-color: darkslategrey;
    border-width: unset;  
}

nav ul li a:link, 
nav ul li a:visited {
    color: white;
    text-decoration: none; 
}


nav ul li a:hover, 
nav ul li a:active {
    color: yellow;
    text-decoration: none; 
}

footer {
    background-color: lightseagreen;
    color: yellowgreen;
    font-weight: bold;
    text-align: center;
    font-size: 0.75rem;
}


/****************************
  IMAGES
*****************************/
#down-arrow {
    padding-left: 45%;
    width: auto;
    height: 40%;
    background-color: yellowgreen;
}

#arrow-img {
    height: 15%;
    width: 15%;
}

main article:nth-of-type(2n) img {
    float: left;
    width: 5%;
    height: 5%;
    padding: 1%;
}

main article:nth-of-type(2n + 1) img {
    float: right;
    width: 5%;
    height: 5%;
    padding: 1%;
}


/************************************
  SEMANTIC ELEMENTS & DOCUMENT LNKS
************************************/
main {
    background-color:snow;
    text-align: center;
    margin-top: -10px;
    padding: 0 1% 0 1%;
    font-size: 1.27rem;
    color: slategrey;
} 

main section ul li{
    list-style-type: none;
    color: darkorange;
    font-weight: bold;
}

p a {
    font-weight: bold;
    padding: 1%;
}

a:link, a:visited {
    color: darkorange;
    text-decoration: none;
}

a:hover, a:active {
    color: darkslategrey;
}


/************************************
    ASIDE
*************************************/
aside {
    clear: both;
    text-align: center;
    color: darkslategrey;
    background-color: snow;
    font-size: 1rem;
}


/************************************
  MEDIA QUERIES
************************************/
@media (max-width: 360px){
    main {
        width: 100%; 
        font-size: 1.4rem;
    }    

    h1, h2 {
        font-size: 1.5rem;
    }

    aside {
        display: none;
    }
}


@media (min-width: 880px) {
    article {
        width: 15%;
        padding: 1%;
        border: 5px solid yellowgreen;
        border-radius: 5%;
        margin: 5% 1% 0% 2%;
        float: left;
        font-size: 1.2rem;
    }
    
    nav ul li {
        display: inline-block;
        text-align: right;
        text-decoration: none;
        list-style-type: none;
        padding: 5px 10px;
        margin: auto;
    }
    
    aside {
        float: right;
        width: 15%;
        margin-top: -35%;
        background-color: lightgrey;
        clear: both;
        font-size: 1rem;
    }

    footer {
        clear: both;
        /* display: none; */
        margin-top: 500px;
    }
}
    

    